
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>girisyap</title>
</head>
<body>
    <div> 
        
       
        <input name="kullaniciadi" type="text" placeholder="kullanıcıadı" />
        <input name="sifre" type="password" placeholder="şifre" />
      
    </div>
    <input type="submit" class="btn btn-primary" value="giriş" />
</body>
</html>
