
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">HAKKIMIZDA</h2>

        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/hak1.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Kimdir ?</h4>

                    </div>
                    <div class="timeline-body"><p class="text-muted">Hallederiz.com pandemi dolayısı ile bir çok küçük esnafın kepenk kapatması ve ayakta zor durmasına üzülerek küçük esnafın bir nebze de olsa yüzünü güldürebilmek amacıyla kurulan bir hizmettir.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/hak2.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Nedir Bu Hallederiz ?</h4>

                    </div>
                    <div class="timeline-body"><p class="text-muted">Vatandaşlarımızın ihtiyaçlarını ertelememesi ve ihtiyaçlarına uygun bir şekilde hizmet ve yardım almalarını sağlayan bir platformdur.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/hak3.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Amacımız?</h4>

                    </div>
                    <div class="timeline-body"><p class="text-muted">Vatandaşlarımız en uygun ve kaliteli bir şekilde hizmet almalarını , kendi işini yapan esnaflarımız / serbest meslek erbablarımızın daha kolay müşteri bulmasını sağlamak.</p></div>
                </div>
                @*</li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2020</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>*@
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Ve Çok
                        <br />
                        Daha Fazlası

                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

