
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Sitemize Hoşgeldiniz!</div>
        <div class="masthead-heading text-uppercase">SİZ DÜŞÜNMEYİN , BİZ HALLEDERİZ.</div>



        <a class="btn btn-primary btn-xl text-uppercase" href="/Default/Hakkimizda">Daha fazlası</a>
    </div>

</header>

<!-- Clients-->
<div class="col-lg-12">
    <div class="popular">
        <Center> <h4 class="popular-services">SON EKLENEN AFİŞLER</h4></Center>
        
            <div id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_pnlServicePods_0" class="col-xs-6 col-sm-3">

                <div class="service-pod-wrapper callAngularApps" data-jobsource="service_groups" data-url="teklif/ev-temizligi/191/1" data-serviceid="191">
                    <div class="img-box" data-serviceid="191" data-jobsource="service_groups" data-url="teklif/ev-temizligi/191/1">
                        <div class="img-inner-shadow"></div>
                        <div class="dark-overlay" data-serviceid="191" data-jobsource="service_groups" data-url="teklif/ev-temizligi/191/1"></div>
                        <img src="~/assets/web.jpeg" width="270" height="125" id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_imgServiceImage_0" loading="lazy" alt="Haftalık trend servislerinden Ev Temizliği.">
                    </div>
                    <div class="description-box">
                        <h5 data-serviceid="191" data-jobsource="service_groups" data-url="teklif/ev-temizligi/191/1">Web Tasarım </h5>
                        <p data-serviceid="191" data-jobsource="service_groups" data-url="teklif/ev-temizligi/191/1"><span id="ContentPlaceHolder1_rpPopularServicePods_ucServicePods_0_lblProCount_0"><i class="fa fa-user"></i> 6.476 profesyonel</span></p>
                        
                        <span data-url="teklif/ev-temizligi/191/1" data-jobsource="service_groups" data-serviceid="191" class="btn action-btn btn-orange callAngularApps">Teklif Al</span>
                    </div>
                </div>

            </div>
        
        
          





















